.EventList{
    /* margin-top: 50px; */
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 300px;
}
.EventListBox{
    margin: 25px 0;
    height: auto;
}
.EventListBox > h2{
    padding-top: 20px;
    margin-left: 10px;
}