.EventCard {
    display: flex;
    min-width: 400px;
    overflow: hidden;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2)
}
.EventInfo{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    padding: 20px ;
}

.EventPoster {
    flex-basis: 55%;
    height: 100%;
    background-position: center;
    background-size: cover;
}