.EventCard {
    border: 1px solid black;
    display: flex;
    min-width: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
}
.EventInfo{
    flex-basis: 45%;
    padding: 20px ;
}

.EventPoster {
    flex-basis: 55%;
    height: 100%;
    background-position: center;
    background-size: cover;
}